*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
<<<<<<< HEAD
=======
    @include respond(tab-land)
        font-size: 56.25%
    @include respond(tab-port)
        font-size: 50%
    @include respond(phone)
        font-size: 30%
    @include respond(big-screen)
        font-size: 75%
    

        
>>>>>>> responsive

body
    padding: 5rem
    background-color: $color-white

.container
    background-color:  #F7F7F7
    position: relative
<<<<<<< HEAD
    z-index: 0
=======
    z-index: 0

>>>>>>> responsive
